<form action="/" method="get">
      Group:
      <select id="group" name="group">
      {{#each groups}}
      <option value="{{this.group}}" {{#if this.selected}}selected{{/if}}>{{this.group}}</option>
      {{/each}}
      </select><br/>
      Month/Year: <input type="text" name="date" value="{{date}}"/> (MM/YYYY)<br/>
      Dates To Skip: <input type="text" name="skipDate" value="{{skipDate}}"/> (e.g. 1,2,4)<br/>
      Round trip: <input type="checkbox" name="roundTrip" {{#if roundTrip}}checked{{/if}} value="on"/><br/>
      <input type="submit" value="Submit"/>
</form>